
    <%- include('./partials/head') %>
    <%- include('./partials/header') %>
    <h1>Ficha técnica libros </h1>
    <%- include('./partials/form') %>
    <a href="/products">Volver atrás</a>
</body>
</html>

