<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir productos a mi Base de datos de mi libreria</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('./partials/header') %>
    <h1>Añadir libros </h1>
    <%- include('./partials/form') %>
</body>
</html>

