    <%- include('./partials/head') %>
    <%- include('./partials/header') %>
    <h1>Mi libreria...</h1>
    <div class="linksLandingPage">
        <a href="/products">Ver libros disponibles</a>
        <a href="/carrito">Ver carrito</a>
        <a href="/newProducts">Añadir libros a mi Base de Datos</a>
    </div>
</body>
</html>
