<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi libreria</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('./partials/header') %>
    <h1>Mi libreria...</h1>
    <div class="linksLandingPage">
        <a href="/products">Ver libros disponibles</a>
        <a href="/carritoFinal">Ver carrito</a>
        <a href="/newProducts">Añadir libros a mi Base de Datos</a>
    </div>
</body>
</html>
