
    <nav class="navContainer">
        <a href="/">Mi librería...</a>
        <div class="nav">
            <a href="/newProducts">Añadir libros a mi Base de Datos</a>
            <a href="/products">Ver libros disponibles</a>
            <img src="/img/carrito-de-compras.png" alt="" class="logoCarrito">
            <a href="/carritoFinal">Ver carrito</a>
        </div>
    </nav>


