
    <nav class="nav">
        <a href="/products">Ver libros disponibles</a>
        
        <a href="/newProducts">Añadir libros a mi Base de Datos</a>
        <img src="/img/carrito-de-compras.png" alt="" class="logoCarrito">
        <a href="/carritoFinal">Ver carrito</a>
    </nav>


